@import 'css/card.css';
@import 'css/list-v3.css';

.hoverable {
    will-change: background-color;
    transition: background-color 0.2s;
}
.hoverable:hover {
    background-color: var(--color-bg-dark);
}
